.homeInteiro {
  background-image: linear-gradient(to bottom, rgb(222, 233, 243), rgb(7, 7, 7));
}

.body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.camera {
  height: 30%;
  margin-top: 50px;
  width: 20%;
}

.imgSecurity {
  width: 50%;
}

.texto {
  max-width: 30%;
}

.forms {
  max-width: 100%;
}