.homeInteiro {
  background-image: url('../../images/back.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 175px;
}

.camera {
  height: 30%;
  margin-top: 50px;
  width: 30%;
}

.imgSecurity {
  width: 100%;
}

.texto {
  color: white;
  max-width: 30%;
}

.t {
  color: white;
}

.forms {
  max-width: 100%;
}

.midleDiv {
  display: flex;
  flex-direction: column;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .body {
    margin-top: 97px;
  }

  .texto {
    width: 100%;
  }
  
  .t {
    width: 100%;
  }

}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .homeInteiro {
    background-size: cover;
  }

  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .texto {
    width: 100%;
  }
  
  .t {
    font-size: xx-large;
    width: 100%;
  }
  
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .homeInteiro{
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 175px;
  }

  .camera {
    height: 60%;
    margin-left: 20%;
    margin-top: 70px;
    width: 60%;
  }

  .t {
    font-size:x-large;
  }

  .texto {
    max-width: 100%;
  }

  .textoP {
    font-size: larger;
  }

  .imgSecurity {
    width: 95%;
  }
}

