.homeInteiro {
  background-image: linear-gradient(to bottom, rgb(222, 233, 243), rgb(7, 7, 7));
}

.body {
  display: flex;
  margin-bottom: 67px;
}

.camera {
  width: 30%;
}

.imgSecurity {
  width: 50%;
}