.footerInteiro {
  background-image: linear-gradient(to bottom, rgb(64, 182, 250), rgb(6, 133, 252));
  display: flex;
  justify-content: space-between;
  height: 85px;
  text-align: center;
}

.buttonOctos {
  background-image: linear-gradient(to bottom, rgb(64, 182, 250), rgb(6, 133, 252));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-left: 25px;
  margin-top: 25px;
  width: 10%;
}

.buttonOctos:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}

.ass {
  color: white;
  margin-right: 25px;
}

.b {
  color: aliceblue;
}