.footerInteiro {
  background-image: linear-gradient(to bottom, rgb(64, 182, 250), rgb(6, 133, 252));
  display: flex;
  justify-content: space-between;
  height: 85px;
  text-align: center;
}

.buttonOctos {
  background-image: linear-gradient(to bottom, rgb(64, 182, 250), rgb(6, 133, 252));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-left: 25px;
  margin-top: 25px;
  width: 10%;
}

.buttonOctos:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}

.ass {
  color: white;
  margin-right: 25px;
}

.b {
  color: aliceblue;
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .buttonOctos {
    height: 35px;
  }
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .buttonOctos {
    font-size:large;
    height: 45px;
    width: 15%;
  }

  .ass {
    font-size: medium;
    margin-right: 55px;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .buttonOctos {
    font-size:large;
    height: 45px;
    width: 15%;
  }
  
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .buttonOctos {
    font-size: medium;
    height: 45px;
    margin-left: 10px;
    margin-top: 20px;
    width: 25%;
  }

  .ass {
    margin-right: 10px;
  }
}