.inputs {
  border: solid 1px white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#nome {
  border: solid 1px rgb(146, 142, 142);
  border-radius: 5px;
  font-size:medium;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-bottom: 3px;
  width: 400px;
}

#fabricante {
  border: solid 1px rgb(146, 142, 142);
  border-radius: 5px;
  font-size:medium;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-bottom: 3px;
  width: 407px;
}

#serie {
  border: solid 1px rgb(146, 142, 142);
  border-radius: 5px;
  font-size:medium;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 400px;
}

.buttonCad {
  background-image: linear-gradient(to bottom, rgb(6, 133, 252), rgb(64, 182, 250));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 30%;
}

.buttonCad:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}