.headerInteiro {
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(6, 133, 252), rgb(64, 182, 250));
  display: flex;
  height: 85px;
  justify-content: space-around;
}

.logoOctos {
  height: 50%;
}

.buttonList {
  background-image: linear-gradient(to bottom, rgb(6, 133, 252), rgb(64, 182, 250));
  border: solid 1px white;
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  margin-bottom: 2px;
  margin-left: 40%;
  margin-top: 5px;
  width: 13%;
}

.buttonList:hover {
  box-shadow: 0 7px 11px 0 rgb(252, 253, 253), 0 17px 50px 0 rgb(93, 131, 180);
  cursor: pointer;
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .buttonList {
    height: 35px;
  }
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .buttonList {
    font-size:large;
    height: 45px;
    width: 15%;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .logoOctos {
    height: 40%;
  }

  .buttonList {
    font-size: medium;
    height: 45px;
    margin-bottom: 2px;
    margin-left: 30%;
    margin-top: 5px;
    width: 30%;
  }
}